<div class="container">
  <%= form_with(model: mark, local: false) do |form| %>
  <% if mark.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

    <ul>
      <% mark.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url,class:'form-control' %>
  </div>

  <div class="field">
   <%= form.label :category %>
    <select class="form-select mt-3" name="category_id" id="category_select" aria-label="Default select example">
      <%= @category.each do |a| %>
      <option value="<%= a.id %>"><%= a.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
   <%= form.label :subcategory %>
    <select class="form-select" name="subcategory_id" id="subcategory_select" aria-label="Default select example">
      <%= @subcategory.each do |s| %>
      <option value="<%= 
      s.id %>"><%= s.name %></option>
      <% end %>
    </select>
  </div>

 <div class="field">
   <%= form.label :type %>
    <select class="form-select" name="type_id" id="type_select" aria-label="Default select example">
      <%= @type.each do |d| %>
      <option value="<%= d.id %>"><%= d.name %></option>
      <% end %>
    </select>
  </div>
  
  <div class="actions">
    <%= form.submit 'Crear' , class:'btn btn-primary',class:'btn btn-primary'%>
  </div>
  <% end %>

</div>


<script>
  $('#category_select').change(function (event) {
    console.log(event.target.value)
    $.ajax({
      url: '/subcat',
      type: 'GET',
      dataType: 'script',
      data: 'id=' + event.target.value,
      success: function () {
        console.log('hecho')
      }
    })
  })
</script>