<nav>
<ul>
<li><a class="btn btn-secondary btn-sm mb-1" href="<%= root_path %>">Home</a></li>
<li><a class="btn btn-secondary btn-sm mb-1" href="<%= categories_path %>">Category</a></li>
<li><a class="btn btn-secondary btn-sm mb-1" href="<%= subcategories_path %>">Subcategory</a></li>
<li><a class="btn btn-secondary btn-sm mb-1" href="<%= types_path %>">Type</a></li>
<li><a class="btn btn-secondary btn-sm mb-1" href="<%= grafico_path %>">Base Datos PIC</a></li>
</ul>
</nav>